
.App {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.controls-text {
  color: white;
  font-size: 14pt;
}

.row {
  display: flex;
}

.controls-container {
  height: 300px;
  padding: 30px;

}

.p1-controls-container {
  display: flex;
}

.p2-controls-container {
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: rgb(66, 60, 60);
}

.white {
  background-color: white;
}